a.dropdown-item {
    background-color: transparent;
    border: 0px;
    clear: both;
    color: rgb(0, 0, 0);
    display: block;
    font-weight: 400;
    padding: 0.25rem 1rem;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
    line-height: 2;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: rgb(228, 231, 236);
    color: rgb(0, 0, 0);
}

a {
    text-underline-offset: 0.25rem;
} 