.dropdown-menu {
    background-clip: padding-box;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.3125rem;
    color: rgb(29, 41, 57);
    display: none;
    font-size: 1rem;
    list-style: none;
    margin: 0px;
    min-width: 100%;
    padding: 0.5rem 0px;
    position: absolute;
    text-align: left;
    z-index: 1000;
}
.dropdown-menu.show {
    display: block;
}